.cards__item {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding: 0 100px 0 0;
}

.cards__item:nth-of-type(3) {
    padding-right: 0;
}
