.two-columns__paragraph {
    margin: 0;
    padding: 0 0 30px 0;
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
  }  

  .two-columns__paragraph:last-of-type {
    padding: 0;
  }