.table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0 auto 0 auto;
    padding: 0;
    list-style-type: none;
  }