.header__subtitle {
    width: 388px;
    position: absolute;
    bottom: 30px;
    left: 64px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    z-index: 2;
  }