.khan__buy-link {
    display: inline-block;
    min-width: 300px;
    margin: 0;
    padding: 0;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
    transition: 1s;
}

.khan__buy-link:hover {
    color: #7B68EE;
}